.language-wrapper{
    width: 100%;
    text-align: center;
.lang-text{
    color:rgb(0, 102, 255);
    cursor: pointer;
    font-size: 23px;
    font-weight: 500;
}
}
.movies-text{
    margin: 30px 0px;
    text-align: center;
}