.center{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
.colortext{
    font-size: 30px;
    font-weight: 600;
}

}